## Conexion a la base de datos

In [26]:
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [27]:
conn = psycopg2.connect(
    database = "postgres",
    user = "postgres",
    host = "localhost", 
    password = "example", 
    port = "5432"
    )

In [28]:
cursor = conn.cursor()

In [29]:
data = cursor.execute("select version();")
data = cursor.fetchone()
print("Connection stablished to: ", data)

Connection stablished to:  ('PostgreSQL 15.2 (Debian 15.2-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [30]:
cursor.execute("select now()")
data = cursor.fetchall()
print(data)

[(datetime.datetime(2023, 2, 22, 5, 13, 4, 774692, tzinfo=datetime.timezone.utc),)]

In [31]:
conn.commit()

## Creacion de tablas

In [32]:
### Tabla de d_albums 

cursor.execute("DROP TABLE IF EXISTS f_playlist_tracks")
cursor.execute("DROP TABLE IF EXISTS d_albums")

sql  = """
CREATE TABLE d_albums(
    sk_id bigint PRIMARY KEY,
    bk_id varchar(64),
    name varchar(256)
);
"""

cursor.execute(sql)

print("La tabla d_albums fue creada exitosamente...")
conn.commit()

La tabla d_albums fue creada exitosamente...

In [33]:
### Tabla de d_artists 

cursor.execute("DROP TABLE IF EXISTS d_artists")

sql  = """
CREATE TABLE d_artists(
    sk_id bigint PRIMARY KEY,
    bk_id varchar(64),
    name varchar(256)
);
"""

cursor.execute(sql)

print("La tabla d_artists fue creada exitosamente...")
conn.commit()

La tabla d_artists fue creada exitosamente...

In [34]:
### Tabla de d_playlists 

cursor.execute("DROP TABLE IF EXISTS d_playlists")

sql  = """
create table d_playlists
(
    sk_id            bigint PRIMARY KEY ,
    bk_id            bigint,
    name             varchar(64),
    collaborative    bool,
    last_modified_at timestamp,
    num_followers    bigint,
    num_edits        bigint
);
"""

cursor.execute(sql)

print("La tabla d_playlists fue creada exitosamente...")
conn.commit()

La tabla d_playlists fue creada exitosamente...

In [35]:
### Tabla de d_tracks 

cursor.execute("DROP TABLE IF EXISTS d_tracks")

sql  = """
CREATE TABLE d_tracks(
    sk_id bigint PRIMARY KEY,
    bk_id varchar(64),
    name varchar(256),
    duration bigint
);
"""

cursor.execute(sql)

print("La tabla tracks fue creada exitosamente...")
conn.commit()

La tabla tracks fue creada exitosamente...

In [36]:
### Tabla de f_playlist_tracks 

cursor.execute("DROP TABLE IF EXISTS f_playlist_tracks")

sql  = """
CREATE TABLE f_playlist_tracks(
    id bigint primary key,
    sk_playlist bigint,
    sk_artist bigint,
    sk_album bigint,
    sk_track bigint,
    track_position int,
     CONSTRAINT fk_playlist
      FOREIGN KEY(sk_playlist)
	  REFERENCES d_playlists(sk_id)
	  ON DELETE CASCADE,
	  CONSTRAINT fk_artist
      FOREIGN KEY(sk_artist)
	  REFERENCES d_artists(sk_id)
	  ON DELETE CASCADE,
	  CONSTRAINT fk_album
      FOREIGN KEY(sk_album)
	  REFERENCES d_albums(sk_id)
	  ON DELETE CASCADE,
	  CONSTRAINT fk_track
      FOREIGN KEY(sk_track)
	  REFERENCES d_tracks(sk_id)
	  ON DELETE CASCADE

);
"""

cursor.execute(sql)

print("La tabla f_playlist_tracks fue creada exitosamente...")
conn.commit()

La tabla f_playlist_tracks fue creada exitosamente...

In [37]:
# Fin de la conexi√≥n con la base de datos
cursor.close()
conn.close()